@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/* variaveis */
:root {
    --cor-primaria: #333;
    --cor-secundaria: #fff;
    --cor-terciaria: #bea3ce;
    --cor-hover: #272727;
    --cor-hover2: #9b54c4;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* header - inicio - sobre mim - cursos */
.cabecalho {
    padding: 2% 0% 0% 15%;
    font-size: 16px;
}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #9b54c4;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    font-size: 16px;
}

.apresentacao__about {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    font-size: 16px;
}

.apresentacao__conteudo {
    margin: 80;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__imagem__about{
    width: 600px;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.titulo-distaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 16px;
    font-family: var(--fonte-secundaria);
}

/* cursos - links cursos */

.apresentacao__conteudo__texto__cursos {
    font-size: 16px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto__cursos li {
    margin-bottom: 25px;
}

/* imagem dos cursos */
.apresentacao__imagem__cursos {
    width: 400px;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
}

.apresentacao__imagem__cursos:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.xicone {
    width: 23px;
}

.apresentacao__imagem {
    width: 50%;
}

/* footer */

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/* hover do <a> em cursos */

.apresentacao__conteudo__texto__cursos a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto__cursos a:hover{
    color: var(--cor-hover2);
}

/* imagem do sobre mim */

.apresentacao__imagem__about {

    animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 30% 70% 40%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/* dimensões mobile */

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center ;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__about {
        flex-direction: column-reverse;
        padding: 5%;
    }

    
}
